.error{
    margin-top: 50px;
    padding: 10px 200px;
    animation: color_change 1s infinite;
    border-radius: 10px;
    text-align: center;
}

@keyframes color_change{
    0%    {background-color: red;}
    50%   {background-color: white;}
    100%  {background-color: red;}
}